@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
*/
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
:-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}


body{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    line-height:15pt;
    font-size:10pt;
    background-image:url(/images/bg.gif);
    color:#383838;
}
a{
    outline:none;
    color:#4e76a6 !important;
}
h1,h2,h3,h4,h5,h6,legend{
    color:#325e8d;
    font-size:14pt;
    font-family: 'Droid Serif',serif;
    font-weight:normal;
    margin:0;
    padding:10px 0;
}


p{
    margin:0;
    padding:5px 0;
}

p.noPadding{
    margin:0;
    padding:0;
}

#container{
    width:986px;
    margin:33px auto 0;
    position:relative;
    background-color:#fff;
    border:1px solid #000;
    -moz-box-shadow: 0 0 5px 4px #aaa;
    -webkit-box-shadow: 0 0 4px 5px#aaa;
    box-shadow: 0 0 5px 4px #aaa;
}

header{
    background-image:url(/images/hdrRepeat.gif);
    background-repeat:repeat-x;
    height:131px;
    color:#fff;
    position:relative;
    padding:0 20px;
    text-align: center;
}

header span{
     font-family: 'Droid Serif', serif;
     font-weight: bold;
     font-size:16pt;
     display: block;
     padding-top:20px;
}

#homeLink{
    outline:none;
    position:absolute;
    left:20px;
    top:-16px;
}

header a, footer a{
    color:#fff !important;
}

header nav{
    position:absolute;
    top:95px;
    left:10px;
    font-family: 'Droid Sans', sans-serif;
}

header #hdrSearch{
    position:absolute;
    top:10px;
    right:10px;
}

header input.txt{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    background-color:#fff;
    color: #404040;
    display: inline-block;
    font-size: 14px;
    height: 21px;
    line-height: 21px;
    padding: 4px;
    width:186px;
}

header input.submit{
    background: url("/images/search.png") no-repeat scroll 5px 3px transparent;
    border: 0 none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    font-size: 14px;
    height: 20px;
    opacity: 0.7;
    padding: 0;
    position: absolute;
    right: 5px;
    text-indent: -99999px;
    top: 5px;
    width: 20px;
    z-index: 1;
}

header input.submit:hover{
    opacity:.9;
}


nav ul, nav li{
    margin:0;
    padding:0;
    list-style: none;
}

nav li{
    float:left;
}
header nav a{
    text-decoration:none;
    display:block;
    padding:0 20px;
    font-size:12pt;
}

#smallNav{
    right:13px;
    left:auto;
    font-size:9pt;
    position:absolute;
    padding-top:10px;
}

#smallNav span{
    float:left;
}

#smallNav li{
}

#smallNav a{
    color:#5885BF;
    font-size:9pt;
    padding:0 6px;
}

#main{
    padding:0 20px;
    min-height:400px;
    position:relative;
}

article{
    clear:both;
    padding:10px 0;
}

article section{
    padding-bottom:15px;
    clear:both;
}

footer{
    clear:both;
    font-size: 10pt;
    background-color:#003366;
    background-image:url(/images/ftrRepeat.gif);
    background-repeat:repeat-x;
    color:#fff;
    height:227px;
    font-family: 'Droid Serif', serif;
    margin-top:40px;
    border-top:1px solid #000000;
}

footer .left{
    float:left;
    padding:20px 0 0 20px;
}

footer .left span{
    font-size:12pt;
    font-weight:bold;
}

footer .left ul, footer .left li{
    margin:0;
    padding:0;
    list-style:none;
}

footer .left li{
    padding-top:3px;
}

footer .right{
    text-align:right;
    float:right;
    width:264px;
    padding-right:17px;
}

footer .ftr{
    clear:both;
    padding:10px 20px 0;
}

footer .pLeft{
    float:left;
}

footer .pRight{
    float:right;
}

.msg{
    color:#459152;
    background-color: #D1E8CB;
    border: 1px solid #BFD2BA;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: 'Droid Serif',serif;
    font-size:11pt;
    width:100%;
    z-index:99;
    padding:6px 0;
    text-align:center;
    font-weight: bold;
}
.error{
    background-color:#ffcdcd;
    border: 1px solid #ffafaf;
    padding:5px 0;
    color:#ff0000;
    text-align: center;
}

.red{
    color:#ff0000;
}

.full{
    width:100% !important;
}

table.stripeTable{
    border:1px solid #bfbfbf;
    width:444px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

table.stripeTable th, table.stripeTable td{
    padding:5px;
}

table.stripeTable th{
    background-color:#A2B3CE;
}

table.stripeTable .even{
    background-color:#d9e0eb;
}

/*specific to layout 1*/
#smallNav.top{
    position:absolute;
    top:50px;
}

/*Specific to layout 2*/
article.withLeftNav{
    clear:none;
    float:left;
    width:725px;
    padding-left:20px;
}

nav.sideNav li{
    float:none;
    clear:both;
    padding:5px 0;
}

nav.sideNav span{
    color: #325E8D;
    font-family: 'Droid Serif',serif;
    font-size: 14pt;
}

nav.sideNav li{
    border-bottom:1px solid #B0BDCE;
}

nav.sideNav ul li:last-child{
    border:none;
}

nav.sideNav ul li ul{
    padding-top:3px;
}

nav.sideNav ul li:first-child{
    padding-top:0;
}

nav.sideNav ul li ul li{
    padding-left:20px;
    border:none;
    color:#4E76A6;
}

nav.sideNav ul li ul li:before{
    content: "\00BB";
}

#leftSide{
    float:left;
    width:200px;
    border-right:1px solid #B0BDCE;
    margin-top:20px;
}

#leftSide section.leftSideTop{

}

#leftSide section.leftSideBottom{
    clear:both;
    margin-top:20px;

}
/*End layout 2*/

/*Specific to layout 3*/
article.withRightNav{
    float:left;
    width:714px;
    padding-right:20px;
}

#rightSide{
    float:left;
    width:200px;
    margin-top:20px;
}

#rightSide .rightSideBottom{
    border:1px solid #B0BDCE;
    padding:10px;
    margin-bottom:20px;
}

nav.admin{
    padding:0;
    width:198px;
    margin:10px 0;
    border:1px solid #B0BDCE;
}
nav.admin li{
    border-bottom:1px solid #B0BDCE;
    float:none;

}
nav.admin li:last-child{
    border:none;

}
nav.admin a{
    padding:6px 8px;
    display:block;
}

nav.admin a:hover{
    background-color:#B0BDCE;
    color:#fff !important;
}

/*End layout 3 styles*/

/*Form Styles*/
input,label, select, textarea {
    float:left;
    margin-bottom:10px;
}

input{
    background:none;
    border:none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #b5b5b5;
    padding:5px;
    float:left;
}

label{
    color:#325e8d;
    font-size:12pt;
    display:block;
    padding:5px 0;
    font-family: 'Droid Serif',serif;
    float:left;
    width:150px;
}

textarea{
    width:300px;
    height:150px;
}

form br{
    clear:left;
}

form dt{
    clear:both;
}

input[name=submit]{
    float:none;
    margin:0 auto;
    margin-left:208px;
}

input.adminAdd{
    width:321px;
}

.button{
    font-family: 'Droid Sans', sans-serif;
    font-size: 10pt;
    color: #050505;
    padding: 5px 0;
    background: -moz-linear-gradient(
            top,
            #fefefe 0%,
            #f6f6f6) ;
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#fefefe),
            to(#f6f6f6));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #b5b5b5;
    -moz-box-shadow:
            0px 1px 3px rgba(000,000,000,0),
            inset 0px 0px 1px rgba(255,255,255,0.7);

    width:100px;
    margin:0 0 0 10px;
}

/*end form styles*/

#addAdmin{
    overflow:hidden;
}
section.currentAdmins{
    clear:both;
    margin-top:20px;
    overflow:hidden;
}




@media only screen and (min-width: 35em) {


}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

